<meta charset="utf-8">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />
<title>Car registrations</title>
<link rel="stylesheet" href="css/registration_number.css">
<link rel="stylesheet" href="css/skeleton.css">

<div class="container">
    <div class="topNav">
        <h1>Registration Numbers</h1>
    </div>
    <br />
    <div class="row app">
        <form action="/regs" method="POST">
            <div class="row townText">

                <span class="label-body">Registration</span>
                <input type="text" name="" value="" placeholder="enter a registration " class="registration" id="registration" />

            </div>
            <div class="row buttons">
                <button class="button-primary addRegsBtn" on type="submit" name="button">Add Registrations</button>
            </div>
            <br />
            <div class="row theTowns">
                <h4>Select a Town</h4>
                <form class="/townSelect" name="post">
                    <select class="towns" name="towns" >
                        <option value="all">All Towns</option>
                        <option value="capetown">Cape Town</option>
                        <option value="bellville">Bellville</option>
                        <option value="paarl">Paarl</option>
                        <option value="george">George</option>
                    </select>
                </form>
            </div>

            <br />

            <div class="row buttons">
                <a class="reset" href="/clear"> Reset </a>  
            </div>
        </form>

        <br />

        <div class="row displayArea">
            {{#each numberPlate}}
                <p class="reg">{{regNumber}}</p>
            {{/each}}
        </div>

        <br />

        <div class="row errors">
            <p></p>
        </div>
    </div>
</div>